body {
    background:
        linear-gradient(
            var(--background-veil),
            var(--background-veil)
        ),
        var(--background-image);
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:var(--text);
}

.skip-link {
    position:absolute;
    top:-50px;
    left:50%;
    transform:translateX(-50%);
    background:var(--h2);
    color:white;
    padding:12px 25px;
    z-index:1000;
    font-size:1rem;
    font-weight:bold;
}

.skip-link:focus {
    top:20px;
}

.menu {
    width:90%;
    max-width:1200px;
    margin:30px auto;
    padding:50px;
    background:#fffaf26d;
    box-shadow:
        0 8px 20px rgba(0,0,0,0.15);
}

.menu-container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.696);
    padding: 100px;
    box-shadow: 0 8px 25px var(--shadow);
}

.menu-content h3 {
    text-align:center;
    font-family:"Agbalumo", serif;
    font-size:4rem;
    color:var(--h2);
    margin-bottom:25px;
}

.menu-content ul {
    list-style:none;
    padding:0;
    margin:0 auto;
    max-width:1000px;
}

.menu-content li {
    text-align:center;
    color:var(--text);
    font-size:1.7rem;
    line-height:1.7;
    margin:30px;
}

@media(max-width:600px){
    .menu {
        width:90%;
        padding:20px;
    }
    .menu-container {
        width:90%;
        margin:20px auto;
        padding:25px;
    }
    .menu-content h3 {
        font-size:2.2rem;
        margin-bottom:15px;
    }
    .menu-content li {
        font-size:1.1rem;
        line-height:1.5;
        margin:15px 0;
    }
        .skip-link {
        top:-200px;
    }

    .skip-link:focus {
        top:-200px;
    }
}

@media(max-width:900px){
    .intro-grid {
        grid-template-columns:1fr;
    }
}